
@{
    ViewBag.Title = "HomePage";
}

<h2>Welcome to HomePage of Admin</h2>
<a type="button" class="btn btn-primary btn" href="@Url.Action("ViewStudents","Admin")"

    <span>Manage students list</span>
</a>
<a type="button" class="btn btn-primary btn" href="@Url.Action("ViewTeachers","Admin")"

    <span>Manage teachers list</span>
</a>
<a type="button" class="btn btn-primary btn" href="@Url.Action("GetFilters","Search")"

    <span>Search user's details.</span>
</a>

