
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron">
<h1>College Website</h1>
<p class="lead">This is the website for College registration.Here all the users can perform various actions.</p>

</div>


